---
import { PaginationHeader, Section } from 'astro-boilerplate-components';

import { BlogGallery } from '@/partials/BlogGallery';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import {getAllPost} from '@/integrations/api_notion';
import { getCardContent } from '@/utils/Notion';

const response = await getAllPost() as any;
const allPost = getCardContent(response.results);

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page`;
const title = titleBase + titleSuffix;
const description = 'Ari Blog page';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='Random title here'
      description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    />
  </Section>

  <Section>
    <BlogGallery postList={allPost} />
  </Section>
</Base>
